<div class="container my-3">
  <div class="row justify-content-center">
    <h2 style="font-weight:bold;">修改你的支出內容</h2>
  </div>
</div>
<div class="container px-5" style="border: 1px solid #E0E3DA; border-radius: 10px; background-color: #f4f4f4;">
  <h5 class="my-4" style="color:red;">* 為必填欄位</h5>
  <form action="/expense/{{record._id}}?_method=PUT" method="POST">
    <div class="form-group row">
      <label class="col-md-3" for="InputName">名稱<span style="color:red;">*</span></label>
      <input class="form-control col-md-9" type="text" class="form-control" id="InputName" aria-describedby="name"
        placeholder="" name="name" value="{{record.name}}" required>
    </div>

    <div class="form-group row">
      <label class="col-md-3" for="FormControlSelect1">類別<span style="color:red;">*</span></label>
      <select class="form-control col-md-9" id="exampleFormControlSelect1" name="category">
        <option value="{{record.category}}">{{record.category}}</option>
        {{#each item}}
        <option value="{{this.category}}">{{this.category}}</option>
        {{/each}}

      </select>
    </div>

    <div class="form-group row">
      <label class="col-md-3" for="InputDate">日期<span style="color:red;">*</span></label>
      <input class="form-control col-md-9" id="InputDate" type="date" name="date" value="{{record.date}}" required>
    </div>

    <div class="form-group row">
      <label class="col-md-3" for="InputMoney">金額<span style="color:red;">*</span></label>
      <input class="form-control col-md-9" type="text" class="form-control" id="InputName" aria-describedby="name"
        placeholder="" name="amount" value="{{record.amount}}" required>
    </div>

    <div class="form-group row">
      <label class="col-md-3" for="merchant">商家</label>
      <input class="form-control col-md-9" type="text" class="form-control" id="merchant" aria-describedby="name"
        placeholder="" name="merchant" value="{{record.merchant}}">
    </div>

    <div class="form-group row justify-content-center">
      <button type="submit" class="btn btn-primary">送出</button>
      <a class="ml-2 btn btn-info" href="/">返回</a>
    </div>
  </form>
</div>