<div class="container">

  <div class="row  mt-3 ">
    <div class="col-md-5 col-sm-5 mx-auto">
      <h4 class="totalAmount" style="display: inline;">總金額:</h4>
      <h1 style="display: inline; color: #fd7792; font-size: 60px">
        $ {{totalAmount}}
      </h1>
    </div>
  </div>


  <div class="row  align-items-center mt-3">
    <div class="col-md-6 d-flex justify-content-start">
      <a class="btn btn-info" href="/expense/new">新增支出項目</a>
    </div>

    <div class="col-md-6 d-flex justify-content-end">
      <form action="/category">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{#if selectCategory}}
            {{selectCategory}}
            {{else}}
            全部
            {{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" href="/">全部</a>
            {{#each item}}
            <button class="dropdown-item" type="submit" name="keyword"
              value="{{ this.category }}">{{ this.category }}</button>
            {{/each}}
          </div>
        </div>
      </form>

    </div>
  </div>


  <ul class="list-group mt-3">
    {{#each record}}
    <li class="list-group-item ">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-1">
          <i class="{{this.icon}} fa-3x" style="color:#30A9DE;"></i>
        </div>
        <div class="col-md-3">
          <h5>{{this.name}}</h5>

          <h6>{{this.date}}</h5>

        </div>
        <div class="col-md-1">
          <h3>${{this.amount}}</h3>
        </div>
        <div class="col-md-3">
          <a class="btn btn-primary" href="/expense/{{ this._id }}/edit">編輯</a>
          <form action="/expense/{{ this._id }}/delete" method="POST" style="display: inline;"
            onsubmit="return deleteFunction()">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<script>
  function deleteFunction() {
    return confirm("確定要刪除此項目嗎?");
  }
</script>